html,
body, #app {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  padding-top: 60px;
  padding-bottom: 140px;
  position: absolute;
}

.container-xl {
  max-width: 1800px;
}

.footer-container {
  position: sticky;
}
.avatar-img {
    width: 100%;
}

.form-control, .btn, .message-card {
  border-radius: 10px;
}

.messages-container {
box-shadow: -5px 0 5px -5px rgba(0,0,0,.15), 5px 0 5px -5px rgba(0,0,0,.15)!important;
height:inherit;
margin-bottom: 60px;
display: block;
overflow: hidden;
overflow-y: auto;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messages-container::-webkit-scrollbar {
  display: none;
}

.message-card-right {
  background-color: #9ec5fe;
}

.message-input-container {
  bottom:70px;
  position: fixed;
  background-color: transparent;
}

.input-btn-row {
  flex-grow: inherit;
}

svg {
  width: 100%!important;
}